html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.product-image {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: inherit;
}
.page-title {
    margin-bottom: 20px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    /*
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
     */
}
.product-card {
    min-width: 250px;
    max-width: 250px;
    flex: 0 0 auto;
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    /*
    background: white;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: all 0.25s ease;
     */
}
.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
 }
.product-card h3 {
    font-size: 1rem;
    margin: 10px 0;
    height: 40px;
    overflow: hidden;
}
.product-card p {
    font-weight: bold;
}
.product-card:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
 }
.image-wrapper {
    height: 250px;
    background: #f8fafc;
    border-radius: 10px;
}
.image-wrapper img {
     max-width: 100%;
     max-height: 100%;
     object-fit: contain;
}
.product-name {
    font-size: 1.1rem;
    margin: 8px 0;
}
.product-description {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
.price {
    font-size: 1.2rem;
    font-weight: bold;
}
.add-btn {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.add-btn:hover {
    background-color: #1e4ed8;
    transform: scale(1.05);
}
.category-tag {
    background: #f1f5f9;
    padding: 4px 10px;
    border-radius: 999px;
    display: inline-block;
}
.cart-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.cart-content {
    display: flex;
    gap: 30px;
}

.cart-items {
    flex: 2;
}

    .cart-items table {
        width: 100%;
        border-collapse: collapse;
    }

    .cart-items th,
    .cart-items td {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

.product-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

    .product-info img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 8px;
    }

.qty-input {
    width: 60px;
    padding: 5px;
}

.btn-small {
    padding: 5px 10px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-danger {
    background-color: crimson;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}

.cart-summary {
    flex: 1;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .summary-row.total {
        font-weight: bold;
        font-size: 18px;
    }

.btn-checkout {
    display: block;
    margin-top: 20px;
    padding: 12px;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.empty-cart {
    text-align: center;
    padding: 40px;
}
.qty-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-btn {
    width: 30px;
    height: 30px;
    border: none;
    background: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

    .qty-btn:hover {
        background: #333;
    }

.qty-value {
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}
.applied-promo {
    background: #f4fff4;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.btn-remove-promo {
    background: crimson;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}

.discount {
    color: green;
}
.product-link {
    text-decoration: none;
    color: inherit;
}

.product-detail-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px
}

.product-main {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.product-image-section img {
    width: 400px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-information-section {
    flex: 1;
}

.product-title {
    font-size: 2rem;
    margin-bottom: 15px;
}

.product-description {
    line-height: 1.6;
    margin-bottom: 20px;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2563eb;
    margin-bottom: 20px;
}

.product-qty-available {
    font-weight: 500;
    margin-bottom: 20px;
}

.related-heading {
    margin: 40px 0 20px 0;
}

.related-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.related-card {
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    text-align: center;
}

    .related-card img {
        max-width: 100%;
        height: 180px;
        object-fit: contain;
    }

.back-btn {
    display: inline-block;
    text-decoration: none;
    color: #2563eb;
    font-weight: 500;
    margin-bottom: 20px;
}

    .back-btn:hover {
        text-decoration: underline;
    }

.page-wrapper {
    padding: 20px 40px;
}
.shop-header {
    margin-bottom: 30px;
}
body.all {
    background-color: e0f2fe;
}
.page-wrapper.all .price {
    color: #1e4ed8;
}
.page-wrapper.all .add-btn {
    background-color: #1e4ed8;
    color: white;
}
.page-wrapper.all .filter-btn.active{
    background-color: #1e4ed8;
    color: white;
}

body.action{
    background-color: #fee2e2;
}
.page-wrapper.action .price {
    color: crimson;
}
.page-wrapper.action .add-btn {
    background-color: crimson;
    color: white;
}
.page-wrapper.action .filter-btn.active{
    background-color: crimson;
    color: white;
}

body.adventure{
    background-color: #dcfce7;
}
.page-wrapper.adventure .price {
    color: #16a34a;
}
.page-wrapper.adventure .add-btn {
    background-color: #16a34a;
    color: white;
}
.page-wrapper.adventure .filter-btn.active{
    background-color: #16a34a;
    color: white;
}

body.sci-fi {
    background-color: #cffafe;
}
.page-wrapper.sci-fi .price {
    color: #0891b2;
}
.page-wrapper.sci-fi .add-btn {
    background-color: #0891b2;
    color: white;
}
.page-wrapper.sci-fi .filter-btn.active{
    background-color: #0891b2;
    color: white;
}

body.horror {
    background-color: #f3e8ff;
}
.page-wrapper.horror .price {
    color: #8b5cf6;
}
.page-wrapper.horror .add-btn {
    background-color: #8b5cf6;
    color: white;
}
.page-wrapper.horror .filter-btn.active{
    background-color: #8b5cf6;
    color: white;
}

body.musical {
    background-color: #fce7f3;
}
.page-wrapper.musical .price {
    color: #db2777;
}
.page-wrapper.musical .add-btn {
    background-color: #db2777;
    color: white;
}
.page-wrapper.musical .filter-btn.active{
    background-color: #db2777;
    color: white;
}
.filter-btn {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #e5e7eb;
    color: black;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.filter-bar {
    margin-bottom: 20px;
}
.filter-btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}
.filter-btn.active {
    transform: scale(1.05);
    color: white;
    font-weight: bold;
}
* {
    transition: all 0.2s ease-in-out;
}
.hero {
    background: linear-gradient(to right, #1e3a8a, #2563eb);
    color: white;
    padding: 60px 20px;
    text-align: center;
    border-radius: 12px;
}
.shop-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: white;
    color: #2563eb;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.home-categories {
    margin: 30px 0;
    text-align: center;
}
.home-categories a {
    marging 0 10px;
    padding: 10px 18px;
    background: #e5e7eb;
    border-radius: 20px;
    text-decoration: none;
    color: black;
 }
.section-title{
    margin: 40px 0 20px;
}
.promotion {
    margin-top: 50px;
    padding: 40px;
    background: #111827;
    color: white;
    text-align: center;
    border-radius: 12px;
}
.custom-navbar {
    background-color: white !important;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: relative;
    border-bottom: 1px solid #e5e7eb;
}
.nav-left a {
    margin-right: 20px;
    font-weight: 500;
    color: #374151;
    text-decoration: none;
}
.nav-left a:hover {
    color: black;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #111827 !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-right {
    gap: 15px;
}
.search-bar {
    padding: 8px; 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
    width: 200px;
}
.cart-icon {
    font-size: 1.3rem;
}
.movie-header {
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
    color: #111;
}
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.movie-card:hover {
    transform: scale(1.08);
}
.movie-poster {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 12px;
}
.movie-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.movie-card:hover .movie-overlay {
    opacity: 1;
}
.movie-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}
.movie-btn {
    background: #e50914;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
}
.movie-btn:hover {
    background: #b20710;
}
.ticket-details {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
}
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: black;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 400px;
}
.screen-curve {
    height: 20px;
    border-top: 4px solid red;
    border-radius: 50%;
    margin: 20px 0;
}
.seat-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seat-row {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;
}
.seat {
    width: 30px;
    height: 30px;
    background: #ccc;
    border-radius: 6px;
}
.seat.selected {
    background: cyan;
}
.seat.reserved{
    background: red;
}